In [2]:
arr1 = [
[1,3,5],#0번행
[3,5,7],#1번행
[5,7,9],#2번행
    
]
#세로[1,3,5]추출은 불가 -> numpy라는 것을 사용해야함

In [5]:
arr1[0], arr1[1], arr1[2]

([1, 3, 5], [3, 5, 7], [5, 7, 9])

In [8]:
arr1[0][0] =99
arr1# 0번째 행의 0번째 항목

[[99, 3, 5], [3, 5, 7], [5, 7, 9]]

In [11]:
#로또번호 생성
import random # 랜덤이라는 함수에 난수를 입력한다
random.seed?
random.random? #0에서 0.999..까지 랜덤숫자를 표시한다.

SyntaxError: invalid syntax (744195349.py, line 4)

In [16]:
#랜덤한 숫자 6가지 (중복 있음)
import random
lotto = [] #빈 리스트
lotto = [
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
]
lotto # 중복되는 경우가 생김

[28, 29, 22, 8, 39, 35]

In [24]:
import random
lotto = [] #빈 리스트
lotto.append(random.randint(1,45)) #리스트의 맨 마지막에 r 값을 추가
r = random.randint(1,45)
lotto.append(r) #리스트의 맨 마지막에 r 값을 추가
r = random.randint(1,45)
lotto.append(r) #리스트의 맨 마지막에 r 값을 추가
r = random.randint(1,45)
lotto.append(r) #리스트의 맨 마지막에 r 값을 추가
r = random.randint(1,45)
lotto.append(r) #리스트의 맨 마지막에 r 값을 추가
r = random.randint(1,45)
lotto.append(r) #리스트의 맨 마지막에 r 값을 추가
lotto

[36, 38, 31, 1, 15, 11]

In [20]:
#insert(n,v): 위치(n)에 값(v)를 삽입
arr2 = [1,2,3]
arr2.insert(0,4) #0번째 자리(1)에 4를 넣겠다 // 길이 보다 긴 값을 n자리에 넣으면 제일 오른쪽에 값이 생김
arr2

[4, 1, 2, 3]

In [27]:
#sort() : 내부 정렬 > 정렬된 결과를 표시 
lotto.sort(reverse=True)
lotto.reverse()
lotto

[1, 11, 15, 31, 36, 38]

In [32]:
#삭제1
#pop: 마지막 요소 반환 및 삭제 (=순번 삭제)
#함수
lotto.pop(2) #괄호에 숫자를 넣으면 그 위치에 있는 요소를 삭제시킴

15

In [37]:
lotto

[1, 31]

In [39]:
#삭제2
#remove: 삭제할 값을 삭제
#연산자
lotto.remove(1)

In [40]:
lotto

[31]

In [41]:
#count(x): 값(x)와 일치하는 개수 반환
#extend():리스트 확장 ex)학년별, 반별 점수를 모을 때

In [46]:
arr3=[1,3,5,4,2]
arr3[::-1] #뒤집은 복사본이 반환됨
#a.reverse() #원본이 뒤집어지면서 수정됨

[2, 4, 5, 3, 1]

In [48]:
arr4 = ['python', 'is', 'too', 'interesting']
' '.join(arr4) #공백으로 arr4값을 연결하겠다

'python is too interesting'

In [49]:
arr5 = [1,2,3]
"".join(arr5) #str이 와야하는데 int형이 와있기 때문에 오류 발생 > str로 변형시켜준다(반복문사용)

TypeError: sequence item 0: expected str instance, int found

In [50]:
#67.튜플 : 데이터변경이 불가능함
# 소괄호사용
1,2 
#괄호없이 값을 적으면 소괄호 자동생성

(1, 2)

In [51]:
t1 = 1,2,3,
t1

(1, 2, 3)

In [52]:
t1[1]=30 
#튜플이기 때문에 추가, 삭제, 수정 불가능함 
# 값전달용으로 많이 사용 
#object : 할당받은 메모리 영역
# 튜플 = 설명서, 클래스 = 설계도

TypeError: 'tuple' object does not support item assignment

In [53]:
# 문자열을 리스트로 만들면 글자 한자씩 모두 떨어진다
list("love")

['l', 'o', 'v', 'e']

In [62]:
참석자 = set()
day1 = {'홍','김','이'}
참석자.update(day1)
day2 = {'박','홍','최'}
참석자.update(day2)
참석자
#내부적으로 중복으로 배제한다.

{'김', '박', '이', '최', '홍'}

In [63]:
참석자.remove('최')
참석자

{'김', '박', '이', '홍'}

In [58]:
참석자 - day1

{'박'}

In [60]:
day1 & day2

{'홍'}

In [65]:
import random
lotto = set() #빈 리스트

    lotto.add(random.randint(1,45))
    lotto.add(random.randint(1,45))
    lotto.add(random.randint(1,45))
    lotto.add(random.randint(1,45))
    lotto.add(random.randint(1,45))
    lotto.add(random.randint(1,45))
    
    lotto

IndentationError: unexpected indent (3560778299.py, line 4)

In [70]:
a=[1,1,2,2,3,4,4,5,6,7,2]
a = list(set(a))
a.sort(reverse = True) #a.reverse()
a

[7, 6, 5, 4, 3, 2, 1]

In [71]:
#p78 딕셔너리 자료형
names=["홍", "김", "이"]
scores= [70,80,90]
score_dict = {"홍":70, "김":80, "이":90 }

In [73]:
list(score_dict.keys())

['홍', '김', '이']

In [82]:
v= list(score_dict.values())
#평균=sum / 
sum(v), len(v)
sum(v) / len(v) #평균

80.0

In [79]:
list(score_dict.item())

AttributeError: 'dict' object has no attribute 'item'

In [83]:
"홍" in list(score_dict.keys()) #홍이라는 글자가 스코어딕스 keys에 들어가 있는가

True

In [99]:
#연습문제
A = {'a':90, 'b':80, 'c':70}

In [100]:
A.get('b')

80

In [101]:
del A['b']
print(A)

{'a': 90, 'c': 70}

In [104]:
ans = input("성별입력(MALE, FEMALE)")
if ans == "MALE" :
    print("남성")
    print("남성")
else:
    print("여성")    
    print("여성")

    
#블록내에서 무조건 들여쓰기 잘해야함
# A    = 100
# NAME = 100

성별입력(MALE, FEMALE)FEMALE
여성
여성

In [112]:
ans = input("키입력")
ans2 = input("몸무게입력")
info = [int(ans),int(ans2)]
fat = int(ans2) + 100 - int(ans)
print(f'비만 수치는 {fat}입니다.')
if fat > 0:
    print('당신은 비만입니다.')

키입력20
몸무게입력30
비만 수치는 110입니다.
당신은 비만입니다.

In [5]:
#숫자맞추기 게임
#컴 1~100 난수 생성
#시도한 횟수가 10회를 넘으면 
#메세지: 당신은 바보입니까?
import random
com = random.randint(1,100)
try_count=0 #시도횟수는 0

In [6]:
user = 4
try_count +=1 # try_count = try_count + 1

correct = False #답 맞춤 여부
print(f"{try_count}번째 시도")
if com == user : 
    correct = True #정답
    print("정답입니다")
elif com < user :
    print("낮춰주세요")
else:
    print("높여주세요")

if correct == False and try_count > 10 :    #'&'로 사용하면 안됨 > and 연산자 사용해야함
        print("당신은 바보입니까?")

1번째 시도
높여주세요

In [3]:
# p92 삼항연산자
#A:90이상 B:80이상, C:70이상

score =40 
grade = "A" if score >=90  else ("B" if score >=80  else "C" if score>=70 else "D")

grade

'D'

In [ ]:
#반복문 while문 
#숫자맞추기 게임
#컴 1~100 난수 생성
#시도한 횟수가 10회를 넘으면 
#메세지: 당신은 바보입니까?
import random
com = random.randint(1,100)
try_count=0 #시도횟수는 0


correct = False #답 맞춤 여부

#반복조건: 숫자가 다른경우 
user = 0


while user != com :
    try_count+=1
    
    user = input("1~100사이 숫자 입력")
    user = int(user)
    print(f"{try_count}번째 시도")
    if com == user : 
        correct = True #정답
        print("정답입니다")
    elif com < user :
        print("낮춰주세요")
    else:
        print("높여주세요")

    
if correct == False and try_count > 10 :    #'&'로 사용하면 안됨 > and 연산자 사용해야함
        print("당신은 바보입니까?")

In [8]:
scores=[70,80,90]
tot = 0
for s in scores:
        tot += s
print(tot / len(scores))

80.0

In [ ]:
#for문을 이용하여 숫자맞추기 게임 구현하기
import random
com = random.randint(1,100)
try_count=0

correct = False
# 랜덤한 숫자와 내가 입력한(input)숫자와 비교하기 
# 비교했을 때 같이 않다면 다시 같은 작업하기

for i in [1,2,3,4,5,6,7,8,9,10] :
    print(f"{i}번째 시도")
    user = int(input("숫자입력 : "))
    
    if com == user :
        correct = True
        break
    elif user > com : 
        print("낮춰주세요")
    else :
        print("높여주세요")
        
        
if correct : 
    print("추카추카")
else :
    print("당신은 바보입니까")

1번째 시도

In [1]:
colors = ['red', 'green', 'blue']
for c in colors:
    print(c)

red
green
blue

In [3]:
sum(range(1,101))

5050

In [1]:
m = 0
for i in range(1,101) : 
     m += i
print(m)

5050

In [3]:
# 내장함수를 변수로 사용했을 경우 : 'int' object is not callable
sum

In [3]:
# 3단 구구단 출력하기 
# dan = 3
for dan in range(2,10):
    for i in range(1,10):
        print(f"{dan}*{i}={dan*i}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [8]:
#p98
test2D = [[1,2,3],[4,5,6],[7,8,9,10]]
for i in range(len(test2D)):
    for j in range(len(test2D[i])):
        print(test2D[i][j])

1
2
3
4
5
6
7
8
9
10

In [11]:
test3D = [[1,2,3],[4,5,6],[7,8,9,10]]
for i in test3D :
    for j in i :
        print(j)

1
2
3
4
5
6
7
8
9
10

In [11]:
for ans in range(10):
    if i == 2:
        continue
    if i == 5:
        break
print(ans)

9

In [6]:
cnt = 0
for i in range(10):
    ???
print(cnt) #20

Object `?` not found.
Object `?` not found.
Object `?` not found.
Object `?` not found.
Object `?` not found.
Object `?` not found.
Object `?` not found.
Object `?` not found.
Object `?` not found.
Object `?` not found.
0

In [1]:
for i in range(10):
    pass

In [17]:
scores = [70,80,90]
print([s/10 for s in scores]) 
# 10으로 나눈 리스트s를 다시 이용한다
print([True if s<80 else False for s in scores])
scores = [str(s) for s in scores] #문자열로 바꾸기 위해서 
# 스코어에 있는 값들을 s로 저장하고 str형으로 변환하여 
"-".join(scores)

[7.0, 8.0, 9.0]
[True, False, False]

'70-80-90'

In [18]:
#컴 1,2,3난수로 생성 -> 가위, 바위, 보 출력
# 리스트사용
import random
gbb = ["", "가위", "바위", "보"]
r = random.randint(1,3)
print(gbb[r])

가위

In [15]:
#dict
import random
gbb = {1:"가위", 2:"바위", 3:"보"}
r = random.randint(1,3)
print(gbb[r])

보

In [4]:
import random
com = random.randint(1,3)
com
game = {'가위':1, '바위':2, '보':3}

print(game[com])

KeyError: 3

In [21]:
list(A.keys())

['가위', '바위', '보']

In [22]:
list(A.key(1))

AttributeError: 'dict' object has no attribute 'key'

In [25]:
#함수 사용법 미리 정의하기 
def my_hello():
    return ("Hello")


my_hello() #hello
# my_hello("홍길동") #hello 홍길동


# 실행기가 함수를 실행하고 값을 받고 처리를 하지 않으면 화면에 출력한다
# 만약 가공을 하고 싶다면 변수가 필요 
ans = my_hello()
print(ans)

print( my_hello) #함수가 변수가 된다, 변수 위치가 출력된다 #괄호추가시, 코드를 실행한다
aa = my_hello #함수 실행코드에 복사가 됨
aa()

Hello
<function my_hello at 0x000001B6A3E46B80>

'Hello'